.menu-mg {
  width: 100%;
  display: flex;
  height: 100%;
  padding-bottom: 10px;

  .el-main {
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    .header {
      width: 100%;
      height: 80px;
      display: flex;
      background: var(--el-color-white);

      span {
        flex: 1;
      }
    }
  }

  .form-dialog {
  }
}

.main {
  background: #fff;
  margin-left: 10px;
  padding-top: 40px !important;

  .btn {
    margin: 20px 0;
  }
}

.aside {
  background: #fff;
  padding-top: 10px;

  .btns {
    margin-left: 10px;
  }

  .a-input {
    width: calc(100% - 40px);
    margin: 10px 10px 0;
  }

  .tree {
    margin-top: 10px;
  }
}
